.App {
  text-align: center;
  background-color: #fff;
  background-image: url("background.png");
}
.nav-bar {
  background-color: "#C2BEBE";
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

table td {
  font-size: 12px;
}

.table-headers {
  padding-top: 1%;
  color: #c2bebe;
}

.headers-text {
  color: #c2bebe;
  font-style: italic;
}

.rule-button {
  margin: auto;
}

.App-intro {
  font-size: large;
}

.card-title {
  color: #d64e4e;
  font-style: bold;
}

.Pdf-box {
  margin: 90px 30px 0 30px;
  box-shadow: 0 10px 0 0 #ff6873 inset;
  background-color: #fff;
  padding: 30px;
}

.Upload-box {
  border-top: 10px solid #ff6873;
  margin-top: 10%;
  background-color: #fff;
  padding: 30px;
  min-width: 600px;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  box-shadow: 2px 5px #d3d3d3;
}

.card {
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
